.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RData
*.out
**/*.aux
**/*.bbl
**/*.blg
**/*.dvi
**/*.log
**/*.ps
**/*.toc
**/*.pdf
**/*.synctex.gz
!prediction_graph.pdf
!selection_graph.pdf
!selection_graph_h1-2.pdf
old/